## Eclipse config files ##
.settings/
.classpath
.project

## PMD Eclipse plugin files ##
.pmd
## Eclipse config files ##
.settings/
.classpath
.project


## soapUI test reports ##

/holodeck/modules/holodeck-distribution/src/test/resources/soapui_testsuites/*.txt

## Maven output folder ##
target/

## Compiled java classes ##
*.class
*.jar # There are still some required jars bundled with the holodeck sources. Until this is resolved they have to stay in the repo.
*.war
*.ear

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.tmp
*.log
*.tmp
*.orig

## Intellij IDEA files 
*.iml
*.ipr
*.iws
*/.idea/
.idea/

##netbeans files
nbactions.xml
nb-configuration.xml
nbproject/**

##temp docx files
~$*.docx
$Recycle.Bin

## soapUI test reports ##

/holodeck/modules/holodeck-distribution/src/test/resources/soapui_testsuites/*.txt

#ignore netbeans folders
/domibusConnector/domibusConnectorSecurityToolkit/nbproject/
/domibusConnector/domibusConnectorPersistence/nbproject/
/domibusConnector/domibusConnectorDomain/nbproject/

#ignore generated code:
/domibusConnector/domibusConnectorDomain/src/main/java/eu/domibus/connector/domain/transition/

#is downloaded and unpacked by maven so ignore it
/domibusConnector/domibusConnectorGatewayLink/src/main/resources/wsdl/eu.domibus.connector.domain.transition
/domibusConnector/domibusConnectorController/nbproject/
/domibusConnector/domibusConnectorGatewayLink/nbproject/
/domibusConnector/domibusConnectorBackendLink/nbproject/
/domibusConnector/domibusConnectorAPI/src/main/java/eu/domibus/connector/domain/transition/
/domibusConnector/domibusConnectorAPI/src/main/java/eu/domibus/connector/ws/backend/webservice/
/domibusConnector/domibusConnectorAPI/src/main/java/eu/domibus/connector/ws/backend/delivery/webservice/
/domibusConnector/domibusConnectorAPI/src/main/java/eu/domibus/connector/ws/gateway/delivery/webservice/
/domibusConnector/domibusConnectorAPI/src/main/java/eu/domibus/connector/ws/gateway/submission/webservice/
/domibusConnector/domibusConnectorWebAppModule/src/main/java/eu/domibus/configuration/
/domibusConnector/domibusConnectorAPIlib/nbproject/

