@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato);

ul li {
	margin-left: 2em;
}


/**********************************************************/
/* STYLING AND POSITIONING OF INDIVIDUAL GENERAL ELEMENTS */
/**********************************************************/

html, body{
	margin:0;
	padding:0;
	height:100%;
	background: #F4F4F4;
}

div#headerTop {
	background-color:#FFFFFF;
	text-align: center;
	margin: 0 auto;
}

div#centerHeader {	
	text-align: center !important;
		margin: 0 auto !important;
}

.ui-selectonemenu-item.ui-state-highlight {
    background-color: #a9c6c9;
}

#loginForm {
	width:400px;
	margin:0px auto;
	text-align: center;
}

div.ui-layout-unit-content.ui-widget-content{
	/* hellgrau */
	background: #F4F4F4;
}

#j_idt8 > div:nth-child(1){
	/* dunkelgrau */
	background: #7B7C76 !important;
}

#form:configuration_content{
	color: #7B7C76 !important;
	background: #7B7C76 !important;
}

#j_idt8{
	/* dunkelgrau */
	background: #7B7C76 !important;
}

#j_idt9{
	/* dunkelgrau */
	background: #7B7C76 !important;
}

#j_idt9 > div:nth-child(1){
	/* dunkelgrau */
	background: #7B7C76 !important;	
}


div#body {
	width:100%;
	min-height:100px;
	padding-bottom:190px;
	display: block;
}

/*****************************/  
/* LINK COLORS AND TREATMENT */
/*****************************/
a:link {
	color: #3c8dd9;
	text-decoration: none;
}

a:visited {
	color: #3c8dd9;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

div#header h1 a {
	color:#fff;
	text-decoration: none;
}

/******************/
/* FONT TREATMENT */
/******************/
body {
	color: #7b7c76;
	font-family: "DINRegular",Arial,Verdana,Sans-Serif;
	font-size: 13px;
	line-height: 1.3em;
}


h1, h2, h3 {
	font-weight:bold;
	margin:0.3em 0 0.3em 0 ;
}

h1 {
	font-size:130%;
	background: #7B7C76; 
	color: #FFFFFF
}

h2 {
	font-size:125%;
}
h3 {
	font-size:115%;
}

h4, h5 {
	font-size:105%;
}

    div#topbar {
	width: 100%;
	min-height:1em;
	background: #7B7C76; 
	overflow:hidden;

}

   div#topbarBelow {
	width: 100%;
	min-height:1em;
	background: #7B7C76;    
	overflow:hidden;

}

div#header-space  {
background: #FFFFFF !important; 
}

div#header-space img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 1000px;
    padding-top: 1em;
    text-align: center;
}

/* div#tables table td { */
/* 	border:1px solid black; */
/* 	margin: 0 auto; */
/* 	padding:10px; */
/* 	text-align: center; */
/* } */




