/domibusConnectorGatewayPluginClient/
/domibusConnectorGatewayWebserviceClient/
domibusConnectorController/data/


*.iml
/*/target/

*.project
*.classpath

nbactions.xml
nb-configuration.xml
nbproject

.settings

.idea

dc-nist-db

frontend
jdk8.exe
odc.mv.db
package.json
pnpm-lock.yaml
pnpmfile.js
transaction-logs
tsconfig.json
types.d.ts
webpack.config.js
webpack.generated.js


