/*
///////////////////////////////////////////////////////////////////////////////
//
//  Minty CSS theme by Juan Sanchez. Based on instructions from Adobe.
//
///////////////////////////////////////////////////////////////////////////////
*/

Application {
   backgroundColor: #ffffff;
   backgroundGradientColors: #ffffff, #66ff66;
   backgroundGradientAlphas: 0, 1;
   themeColor: #66ff99;
   color: #663300;
}

Button {
   cornerRadius: 10;
   paddingLeft: 0;
   paddingRight: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 0.43, 1;
   fillColors: #66ff66, #339933, #663300, #663300;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   borderColor: #339933;
   themeColor: #663300;
   fontWeight: bold;
}

ButtonBar {
   buttonStyleName: "mybuttonBarButtonStyle";
   firstButtonStyleName: "mybuttonBarFirstButtonStyle";
   lastButtonStyleName: "mybuttonBarLastButtonStyle";
}

.mybuttonBarButtonStyle {
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 0.43, 1;
   fillColors: #66ff66, #009933, #663300, #663300;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   borderColor: #009933;
   themeColor: #663300;
}

.mybuttonBarFirstButtonStyle {
   cornerRadius: 10;
}

.mybuttonBarLeftButtonStyle {
   cornerRadius: 10;
}

LinkBar {
   borderStyle: solid;
   borderColor: #663300;
   separatorWidth: 0;
   cornerRadius: 10;
   backgroundAlpha: 1;
   separatorColor: #66ff66;
   rollOverColor: #66ff66;
   selectionColor: #339933;
   color: #66ff66;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   disabledColor: #663300;
   dropShadowEnabled: false;
}

LinkButton {
   cornerRadius: 10;
   rollOverColor: #66ff66;
   selectionColor: #663300;
   color: #663300;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
}

PopUpButton {
   cornerRadius: 10;
   arrowButtonWidth: 20;
   paddingLeft: 0;
   paddingRight: 0;
   paddingTop: 0;
   paddingBottom: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #339933, #985e24, #663300 ;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   borderColor: #339933;
   themeColor: #663300;
}

ToggleButtonBar {
   buttonStyleName: "mytoggleButtonBarButtonStyle";
   firstButtonStyleName: "mytoggleButtonBarFirstButtonStyle";
   lastButtonStyleName: "mytoggleButtonBarLastButtonStyle";
}

.mytoggleButtonBarButtonStyle {
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #339933, #985e24, #663300;
   color: #ffffff;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   borderColor: #339933;
   themeColor: #663300;
}

.mytoggleButtonBarFirstButtonStyle {
   cornerRadius: 10;
}

.mytoggleButtonBarLeftButtonStyle {
   cornerRadius: 10;
}

ApplicationControlBar {
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1;
   fillColors: #985e24, #663300;
   dropShadowEnabled: true;
   shadowDistance: 1;
   shadowDirection: center;
   dropShadowColor: #330000;
   color:#ffffff;
}

Panel {
   borderColor: #663300;
   borderAlpha: 1;
   borderThicknessLeft: 4;
   borderThicknessTop: 0;
   borderThicknessBottom: 4;
   borderThicknessRight: 4;
   roundedBottomCorners: false;
   cornerRadius: 10;
   backgroundAlpha: 1;
   highlightAlphas: 0, 0;
   headerColors: #985e24, #663300;
   footerColors: #985e24, #663300;
   backgroundColor: #ffffff;
   shadowDistance: 1;
   dropShadowColor: #330000;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   color: #ffffff;
   textAlign: center;
   fontSize: 12;
   fontWeight: normal;
}

CheckBox {
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #339933, #663300, #663300;
   borderColor: #339900;
   color: #663300;
   textSelectedColor: #663300;
   textRollOverColor: #985e24;
   themeColor: #663300;
}

ComboBox {
   cornerRadius: 10;
   color: #ffffff;
   borderColor: #339933;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #339933, #985e24, #663300;
   selectionColor: #66ff66;
   textSelectedColor: #ffffff;
   rollOverColor: #985e24;
   textRollOverColor: #ffffff;
   themeColor: #663300;
   dropDownStyleName: "myComboBoxDropDowns";
}

.myComboBoxDropDowns {
   cornerRadius: 0;
   borderColor: #663300;
   color: #663300;
}

DateChooser {
   cornerRadius: 10;
   borderThickness: 1;
   headerColors: #985e24, #663300;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #985e24, #663300, #985e24, #663300;
   todayColor: #663300;
   rollOverColor: #33cc33;
   selectionColor: #663300;
   color: #ffffff;
   borderColor: #663300;
   backgroundColor: #66ff66;
   themeColor: #66ff66;
   headerStyleName: "mydateChooserHeaderStyle";   weekDayStyleName: "mydateChooserWeekDayStyle";   todayStyleName: "mydateChooserTodayStyle";
}

.mydateChooserHeaderStyle {
   color: #ffffff;
}

.mydateChooserWeekDayStyle {
   color: #339933;
}
.mydateChooserTodayStyle {
   color: #66ff66;
}

NumericStepper {
   borderStyle: inset;
   borderColor: #33cc33;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #33cc33, #985e24, #663300;
   color: #663300;
   themeColor: #663300;
}

RadioButton {
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #33cc33, #985e24, #663300;
   color: #663300;
   textSelectedColor: #663300;
   textRollOverColor: #663300;
   themeColor: #663300;
}
TextArea {
   color: #663300;
   borderStyle: inset;
   borderColor: #663300;
}
TextInput {
   borderColor: #663300;
   color: #663300;
}
List {
   rollOverColor: #985e24;
   textRollOverColor: #ffffff;
   borderStyle: inset;
   selectionColor: #66ff66;
   color: #663300;
   textSelectedColor: #336633;
}
Tree {
   rollOverColor: #66ff66;
   textRollOverColor: #ffffff;
   borderStyle: inset;
   selectionColor: #663300;
   color: #663300;
   textSelectedColor: #ffffff;
}
Accordion {
   borderStyle: inset;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #33cc33, #985e24, #663300;
   selectedFillColors: #985e24, #663300;
   themeColor: #663300;
   borderColor: #663300;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   headerStyleName: "myaccordionHeader";
}

.myaccordionHeader {
   color: #ffffff;
}
TabNavigator {
   horizontalAlign: left;
   borderStyle: inset;
   borderColor: #663300;
   color: #663300;
   tabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {
   cornerRadius: 10;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1;
   fillColors: #66ff66, #33cc33;
   borderColor: #663300;
   color: #ffffff;
   textRollOverColor: #ffffff;
   themeColor: #663300;

}

.mySelectedTabs {
   color: #663300;
   textRollOverColor: #33cc33;
}
HRule {
   strokeColor: #985e24;
   shadowColor: #663300;
}
VRule {
   strokeColor: #985e24;
   shadowColor: #663300;
}
VScrollBar {
   cornerRadius: 8;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #33cc33, #985e24, #663300;
   trackColors: #66ff66, #ffffff;
   themeColor: #663300;
   borderColor: #339933;
}
HScrollBar {
   cornerRadius: 8;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #66ff66, #33cc33, #985e24, #663300;
   trackColors: #66ff66, #ffffff;
   themeColor: #663300;
   borderColor: #339933;
}
HSlider {
   tickColor: #985e24;
   showTrackHighlight: true;
   invertThumbDirection: true;
   borderColor: #663300;
   trackColors: #ffffff, #985e24;
   themeColor: #663300;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #663300, #985e24, #66ff66, #33cc33;
   labelStyleName: "myhSliderLabelStyle";
}

.myhSliderLabelStyle {
   color: #663300;
}

DataGrid {
   alternatingItemColors: #ffffff, #fdf8f2;
   headerColors: #66ff66, #00cc33;
   rollOverColor: #66ff66;
   textRollOverColor: #ffffff;
   borderColor: #339933;
   selectionColor: #663300;
   color: #663300;
   textSelectedColor: #ffffff;
   headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   color: #ffffff;
}

MenuBar {
   borderColor: #33cc33;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1;
   fillColors: #ffffff, #66ff66;
   rollOverColor: #66ff66;
   selectionColor: #33cc33;
   color: #663300;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   themeColor: #006600;
}
ProgressBar {
   borderColor: #663300;
   barColor: #66ff66;
   trackColors: #985e24, #663300;
   color: #663300;
}
ToolTip {
   cornerRadius: 10;
   paddingLeft: 4;
   backgroundColor: #985e24;
   color: #ffffff;
}