@charset "utf-8";

/* Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 *
 */

/* Basic Style
------------------------------------------------------------*/
body{
	margin:0;
	padding:15px 0 0;
	background:#fff url(../img/bg.gif) top left repeat-x;
	font-size:100.01%;
	font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", Osaka,;
	color:#333;
}

h1,h2,h3,h4,h5,h6,
p,
ul,ol,li,
dl,dt,dd,
address {
	margin:0;
	padding:0;
	font-style:normal;
}

ul {
	list-style: none;
}

img {
	border: none;
	vertical-align:bottom;
}

hr	{display:none;}
em	{font-style:normal;}

a,
a:link		{color: #013d98;}
a:visited	{color: #013d98;}
a:hover		{color: #ff6c00;}
a:active	{color: #013d98;}

a,
a:link,
a:visited,
a:hover,
a:active	{text-decoration:underline;}