@charset "UTF-8";

/* tab baktrigger
----------------------------------------*/
.tab_baktriggers{
	position:relative;
	width:736px;
	margin-left:8px;
	margin-bottom:10px;
	border-bottom:1px solid #b6d7ed;
	font-size: 0.9em;
}
.tab_baktriggers ul{
	position:relative;
	top:1px;
	list-style: none;
	width:630px;
	margin-bottom: 0 !important;
}
.tab_baktriggers ul li{
	float:left;
	background:url(../img/bg_tab_center_out.gif) top left repeat-x;
	border-bottom:1px solid #b6d7ed;
}
.tab_baktriggers ul li span{
	display:block;
	background:url(../img/bg_tab_right_out.gif) top right no-repeat;
}
.tab_baktriggers ul li.lastChild span{
	background:url(../img/bg_tab_right_lastchild_out.gif) top right no-repeat;
}
.tab_baktriggers ul li span a{
	display:block;
	padding:5px 15px;
	background:url(../img/bg_tab_left_out.gif) top left no-repeat;
}
.tab_baktriggers ul li.lastChild span a{
	padding-right:18px;
}
.tab_baktriggers ul li.currentTrigger{
	background-image:url(../img/bg_tab_center_hover.gif);
	border-bottom:1px solid #FFFFFF;
}
.tab_baktriggers ul li.currentTrigger span{
	background-image:url(../img/bg_tab_right_hover.gif);
}
.tab_baktriggers ul li.currentTrigger	.lastChild span{
	background-image:url(../img/bg_tab_right_lastchild_hover.gif);
}
.tab_baktriggers ul li.currentTrigger span a{
	background-image:url(../img/bg_tab_left_hover.gif);
}
.tab_baktriggers p.btn_print{
	position:absolute;
	right:0;
	bottom:6px;
	margin-bottom:0;
}

/* float clearing
----------------------------------------*/
.tab_baktriggers:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}
.tab_baktriggers{
	display:inline-block;
	zoom:1;
}

/* tab trigger
----------------------------------------*/
.tab_triggers{
	position:relative;
	width:736px;
	margin-left:8px;
	margin-bottom:10px;
	border-bottom:1px solid #b6d7ed;
	font-size: 0.9em;
}
.tab_triggers ul{
	position:relative;
	top:1px;
	list-style: none;
	width:630px;
	margin-bottom: 0 !important;
}
.tab_triggers ul li{
	float:left;
	background:url(../img/bg_tab_center_out.gif) top left repeat-x;
	border-bottom:1px solid #b6d7ed;
}
.tab_triggers ul li span{
	display:block;
	background:url(../img/bg_tab_right_out.gif) top right no-repeat;
}
.tab_triggers ul li.lastChild span{
	background:url(../img/bg_tab_right_lastchild_out.gif) top right no-repeat;
}
.tab_triggers ul li span a{
	display:block;
	padding:5px 15px;
	background:url(../img/bg_tab_left_out.gif) top left no-repeat;
}
.tab_triggers ul li.lastChild span a{
	padding-right:18px;
}
.tab_triggers ul li.currentTrigger{
	background-image:url(../img/bg_tab_center_hover.gif);
	border-bottom:1px solid #FFFFFF;
}
.tab_triggers ul li.currentTrigger span{
	background-image:url(../img/bg_tab_right_hover.gif);
}
.tab_triggers ul li.currentTrigger	.lastChild span{
	background-image:url(../img/bg_tab_right_lastchild_hover.gif);
}
.tab_triggers ul li.currentTrigger span a{
	background-image:url(../img/bg_tab_left_hover.gif);
}
.tab_triggers p.btn_print{
	position:absolute;
	right:0;
	bottom:6px;
	margin-bottom:0;
}

/* float clearing
----------------------------------------*/
.tab_triggers:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}
.tab_triggers{
	display:inline-block;
	zoom:1;
}

/* 
----------------------------------------*/
.tab_content ul {
	position: relative;
	width: 750px;
	height: 546px;
	margin-left: -8px !important;
}

.tab_content ul li {
	position: absolute;
}

.tab_content ul li.graph01 {
	top: 0;
	left: 0;
}
.tab_content ul li.graph02 {
	top: 0;
	right: 0;
}
.tab_content ul li.graph03 {
	top: 273px;
	left: 0;
}
.tab_content ul li.graph04 {
	top: 273px;
	right: 0;
}

/* popup print */
#popup.print .tab_content {
	margin-right: 5px;
	margin-left: 5px;
}

#popup.print .tab_content ul {
	position: relative;
	width: 580px;
	height: 418px;
}

#popup.print .tab_content ul li {
	position: absolute;
}

#popup.print .tab_content ul li.graph01 {
	top: 0;
	left: 0;
}
#popup.print .tab_content ul li.graph02 {
	top: 0;
	right: 0;
}
#popup.print .tab_content ul li.graph03 {
	top: 209px;
	left: 0;
}
#popup.print .tab_content ul li.graph04 {
	top: 209px;
	right: 0;
}

/* 
----------------------------------------*/
.tab_content p.graphArea {
	width: 734px;
	margin: 0 8px;
}

/* popup print tab
----------------------------------------*/
#popup.print div.tab_triggers{
	width:580px;
	margin-left:0;
	margin-bottom:10px;
	border-bottom:1px solid #b6d7ed;
	font-size: 0.9em;
}

#popup.print div.tab_triggers ul {
	width: 580px;
}