Canvas {
	backgroundAlpha: 0.3;
	backgroundColor: #FFFFFF;
}

.closeButton {
    upSkin:        Embed(source="grenn.swf", symbol="CloseButton_up");
    overSkin:      Embed(source="grenn.swf", symbol="CloseButton_over");
    downSkin:      Embed(source="grenn.swf", symbol="CloseButton_over");
    
 }
 
.resizeHandler {
    upSkin:        Embed(source="grenn.swf", symbol="resize");
    overSkin:        Embed(source="grenn.swf", symbol="resize");
    downSkin:        Embed(source="grenn.swf", symbol="resize");
    
 } 
 /*
 .minButton {
    upSkin:        Embed(source="blue_plastic.swf", symbol="Panel_closeButtonUpSkin");
    overSkin:      Embed(source="blue_plastic.swf", symbol="Panel_closeButtonUpSkin");
    downSkin:      Embed(source="blue_plastic.swf", symbol="Panel_closeButtonUpSkin");
    disabledSkin: Embed(source="blue_plastic.swf", symbol="Panel_closeButtonUpSkin");
 }
 */
/*
//------------------------------
//  AccordionHeader
//------------------------------
*/

Accordion {
	headerHeight: 20;	
}
AccordionHeader
{
}

/*
//------------------------------
//  ApplicationbackgroundImage: Embed(source="stripes.jpg");
	
//------------------------------
*/
Application
{
	color: #003333;
	themeColor: #99DDBB;
	backgroundColor: #DDFFEE;
   
}

/*
//------------------------------
//  Button
//------------------------------
*/
Button {
   cornerRadius: 2;
   highlightAlphas: 0.50, 0;
   fillAlphas: 0.3, 1, 0.5 , 1;
   fillColors: #99BBAA, #99BBAA, #006633, #99BBAA;
   textRollOverColor: #000033;
   themeColor: #000033;
}

/*
//------------------------------
//  DataGrid
//------------------------------
*/
DataGrid
{
	backgroundAlpha: 0.5;
	alternatingItemColors: #FFFFFF, #DDDDDD;
	backgroundColor: #BBEECC;
	headerColors:  #ffffff, #BBEECC;
}


/*
//------------------------------
//  Panel
//------------------------------
*/
Panel {
   backgroundAlpha: 0.90;
   roundedBottomCorners: false;
   highlightAlphas: 0.5, 0;
   headerColors: #000033, #99BBAA;
   backgroundColor: #AADDBB;
   cornerRadius: 0;
   headerHeight: 20;	
   borderStyle: solid;
   shadowDirection: right;
   shadowDistance: 1;
   
  }

/*
//------------------------------
//  HorizontalScrollBar
//------------------------------
*/
HScrollBar
{
 trackColors: #00cc99, #66cc99;
 cornerRadius: 2;	
fillColors: #ffffff, #cccccc, #ffffff, #eeeeee;
fillAlphas: 0.6, 0.4, 0.75, 0.65;
}


/*
//------------------------------
//  VerticalScrollBar
//------------------------------
*/
VScrollBar
{
	trackColors: #66ccAA, #AADDBB;
	 cornerRadius: 2;	
	fillColors: #ffffff, #cccccc, #ffffff, #eeeeee;
	fillAlphas: 0.2, 0, 0.75, 0.65;
	
}

