body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

}

.ui-login-container {
    width: 22em;
}

.ui-login-title {
    font-size: 1.6em;
    margin-bottom: 2em;
}

.ui-login-form-error {
    color: red;
    margin-bottom: 1em;
}

.ui-login-container .ui-login-form {
    border: 1px solid rgb(202, 202, 202);
    padding: 1em;
}

.ui-login-form table {
    margin-left: auto;
    margin-right: auto;
}

.ui-login-form input[type="text"], input[type="password"]  {
    height: 1.4em;
    border: 1px solid rgb(202, 202, 202);
    height: 2em;
    font-size: 1em;
    width: 19em;
    margin-bottom: 1em;
}

.ui-login-form input[type="text"]:focus, input[type="password"]:focus {
    background-color: rgb(250, 255, 189);
}


.ui-login-form-button {
    height: 3.2em;
    width: 4.5em;
    background-color: rgb(23, 121, 186);
    color: white;
    border: none;
    cursor: pointer;
}

.ui-login-form-button:hover {
    background-color: rgb(23, 100, 186);
}